<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnection" connectionString=" " providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
      <add key="Key1" value=" "/>
      <add key="Key2" value=" "/>
  </appSettings>
</configuration>